altgraph==0.17.4
attrs==23.2.0
beautifulsoup4==4.13.4
certifi==2025.8.3
cffi==1.16.0
charset-normalizer==3.4.3
h11==0.14.0
idna==3.10
lxml==6.0.1
outcome==1.3.0.post0
packaging==25.0
pefile==2023.2.7
ping3==4.0.8
pycparser==2.21
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
PySocks==1.7.1
python-dotenv==1.1.1
pywin32-ctypes==0.2.2
requests==2.32.5
selenium==4.34.2
setuptools==68.2.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.14.1
urllib3==2.5.0
webdriver-manager==4.0.2
websocket-client==1.8.0
wheel==0.41.2
wsproto==1.2.0
